html {
    scroll-behavior: smooth;
}
body {
  font-family: 'Great Vibes';
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin: 0;
  background-color: #e5eff4;
  padding: 10px;
  letter-spacing: 1px;
}

.ticket {
  width: 90%; 
  max-width: 800px;
  /* height: 350px; */
  height: auto;
  /* border: 2px solid #5da4cd; */
  margin-bottom: 30vh;
  margin-top: 20%;
  border-radius: 10px;
  background-color: #ffffff;
  background: url('assets/images/blue1.png') no-repeat center center;
  background-size: cover;
  display: flex;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  transform: translateY(20px); 
  animation: pop 0.8s ease forwards;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1); 
  }
}

.left-section {
  flex: 1.5;
  padding: 5%;
  border-right: 2px dashed #5da4cd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; 
  position: relative;
}

.right-section {
  flex: 1;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #333;
}

.left-section h1 {
  font-size: 2.5rem;
  color: #353b3e;
  font-family: 'Dancing Script', cursive;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 20px;
}

.details {
  font-size: 1.1rem;
  color: #353b3e;
  text-align: right;
  padding-top: 10vh;
  padding-right: 1vw;
  .and {
    font-family:  'Dancing Script', cursive;
    font-size: 2.5rem;
    padding-right: 5%;
    letter-spacing: 3px;
  }
  .name {
    font-size: 1.8rem;
  }
}

.details p {
  margin: 5px 0;
}

.seat {
    font-size: 1rem;
  font-family: 'Great Vibes';
  color: #353b3e;
  border: 2px solid #5da4cd;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 50px;
  height: 50px;
  p{
    margin: 0px;
  }
}

.seatnum{
    font-size: 2rem;
}

.icon {
  font-size: 0.7rem;
  font-family:  'addingtoncf-thin', georgia, serif;
  color:#5e5e5e
}

.map {
  opacity: 0.1;
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  height: auto;
  z-index: -1;
}

a.details-link{
    color: #5da4cd;
    text-decoration: none;
}

a.details-link:hover{
    color: #5da4cd;
    text-decoration: underline;
}
a{
    color: #5da4cd;
    text-decoration: underline;
}

hr{
    border: 0.7px solid #5da4cd;
    width: 80%;
    background-color: #5da4cd;
}
.details-section {
  /* width: 800px;  */
  width: 90%;
  max-width: 800px;
  padding: 20px;
  background-color: #e5eff4; 
  /* border-top: 2px solid #5da4cd; */
  text-align: center; 
  font-family: 'addingtoncf-thin', georgia, serif;
  font-size: 1rem;
  margin-top: 45%;
  margin-bottom: 10%;
  color: #353b3e;
  letter-spacing: 1.4px;
  opacity: 0;
  transform: translateY(20px); 
  animation: fadeIn 0.8s ease forwards;

}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); 
  }
  100% {
    opacity: 1; 
    transform: translateY(0);
  }
}
.details-section  h1 {
  font-size: 2.5rem;
  color: #353b3e;
  font-family: 'Dancing Script', cursive;
  margin-top: 7vh;
  margin-bottom: 7vh;
}

.details-section h2 {
    color: #353b3e;
    font-family: 'Dancing Script', cursive;
    font-size: 1.4rem;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem; 
  }

  .details {
    font-size: 1rem; 
  }

  .seat {
    font-size: 1rem; 
    margin-bottom: 10px;
  }

  .seat p{
    margin-top: 0px;
  }

  .seatnum{
    font-size: 2rem;
  }

  .ticket {
    flex-direction: column; 
    margin-top: 20vh;
  }

  .left-section {
    border-right: none;
    border-bottom: 2px dashed #5da4cd; 
  }

  .right-section{
    border-right: none;
    border-bottom: none; 
  }
}