html {
    scroll-behavior: smooth;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1); 
  }
}
.details {
  font-size: 1.1rem;
  color: #353b3e;
  text-align: right;
  padding-top: 10vh;
  padding-right: 1vw;
  .and {
    font-family:  'Dancing Script', cursive;
    font-size: 2.5rem;
    padding-right: 5%;
    letter-spacing: 3px;
  }
  .name {
    font-size: 1.8rem;
  }
}

.details p {
  margin: 5px 0;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); 
  }
  100% {
    opacity: 1; 
    transform: translateY(0);
  }
}


